In [15]:
# Задача 4.1.
# Домашнее задание на SQL

# В базе данных teacher создайте таблицу Students

# Структура таблицы: Student_Id - Integer, Student_Name - Text, School_Id - Integer (Primary key)

# Наполните таблицу следующими данными:

# 201, Иван, 1
# 202, Петр, 2
# 203, Анастасия, 3
# 204, Игорь, 4

# Напишите программу, с помощью которой по ID студента можно получать информацию о школе и студенте.

# Формат вывода:

# ID Студента:
# Имя студента:
# ID школы:
# Название школ



import sqlite3

def get_connection():
    connection = sqlite3.connect('teachers.db')
    return connection

def close_connection(connection):
    if connection:
        connection.close()

#Cоздание таблицы Students

#connection = get_connection()
#cursor = connection.cursor()
#query = """CREATE TABLE Students (
#Student_Id INTEREG,
#Student_Name TEXT,
#School_Id INTEREG NOT NULL PRIMARY KEY);"""
#cursor.execute(query)
#connection.commit()
#connection.close()

#Наполнение таблицы Students

#connection = get_connection()
#cursor = connection.cursor()
#query = """
#INSERT INTO Students (Student_Id, Student_Name, School_Id)
#VALUES
#("201", "Иван", 1),
#("202", "Петр", 2),
#("203", "Анастасия", 3),
#("204", "Игорь", 4);"""
#cursor.execute(query)
#connection.commit()
#close_connection(connection)

# Напишите программу, с помощью которой по ID студента можно получать информацию о школе и студенте.

def get_students_info(_studen_id):
    try:
        connection = get_connection()
        cursor = connection.cursor()
        select_query = """ SELECT Students.Student_Id, Students.Student_Name, Students.School_Id, School.School_Name
                           FROM Students
                           JOIN School ON Students.School_Id = School.School_Id
                           WHERE Student_Id = ? """
        cursor.execute(select_query, (_studen_id,))
        records = cursor.fetchall()
        print('Данные по студенту с Id: ', _studen_id)
        for row in records:
            print('Id студента: ', row[0])
            print('Имя студента: ', row[1])
            print('Id школы: ', row[2])
            print('Название школы: ', row[3], "\n")
        close_connection(connection)
    except (Exception, sqlite3.Error) as error:
        print("Ошибка в получении данных: ", error)

id = int(input('Введи Id студента: '))
get_students_info(id)

Введи Id студента: 203
Данные по студенту с Id:  203
Id студента:  203
Имя студента:  Анастасия
Id школы:  3
Название школы:  Спектр